#header{
    /* margin-bottom: 10px; */
    margin-top: 0 !important;
  background-color: rgba(128, 128, 128, 0.6)!important;
  margin-bottom: 10px
    
}
#footertext{
    float:none;
   color:grey;
    display: block;
    text-align: center;
  }
